---
import { cn } from "@lib/utils";

interface Props {
  type?: "default" | "dialogue";
}

const { type = "default" } = Astro.props;
---

<div
  class={cn(
    "not-prose p-4 font-mono leading-normal text-black",
    type === "dialogue" && "-indent-4",
  )}
>
  <slot />
</div>
